AI bot.json
{
  "name": "AI bot",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://ngw.devices.sberbank.ru:9443/api/v2/oauth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "RqUID",
              "value": "={{ $json.uuid }}"
            },
            {
              "name": "Authorization",
              "value": "=Basic {{ $('Set').item.json.api }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "scope",
              "value": "GIGACHAT_API_PERS"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -432
      ],
      "id": "916a02cb-2808-489b-b596-6c19c75c75d5",
      "name": "Set token"
    },
    {
      "parameters": {
        "jsCode": "function generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = (Math.random() * 16) | 0;\n    const v = c === 'x' ? r : (r & 0x3) | 0x8;\n    return v.toString(16);\n  });\n}\n\nconst uuid = generateUUID();\n\nreturn [\n  {\n    json: {\n      uuid,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -432
      ],
      "id": "5f573932-d570-4f1a-9390-2bcce10f9355",
      "name": "uuid"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "28381561-f533-4403-84c9-2edc0b1aea2e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        560,
        -528
      ],
      "id": "05e94799-cb4d-4d4f-be6b-ea6d32024726",
      "name": "Webhook",
      "webhookId": "28381561-f533-4403-84c9-2edc0b1aea2e",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gigachat.devices.sberbank.ru/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"GigaChat-2-Pro\",\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        -432
      ],
      "id": "3c3906e3-1f40-486a-bfb9-0c2085441039",
      "name": "Create request"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1MAqd8J14xAaLnu4QHhY0Lpw9JufA81P60DErGA0Wmvg/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1536,
        -432
      ],
      "id": "08e58d05-cf9c-4320-a056-7ab5f1cc21c4",
      "name": "Get a prompt",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "dXrRWg33xSiNfzFv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbbc6741-c943-417b-b27d-c9eb2dff1be8",
              "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        -528
      ],
      "id": "6d3ac3f9-627f-4fe8-9d40-1de9025d3a94",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "443447ad-877e-4721-b1e3-35f6903d8208",
              "name": "bot_token",
              "value": "<your_bot_token>",
              "type": "string"
            },
            {
              "id": "cf2f18d8-647b-4587-9ca0-edee55203e89",
              "name": "api",
              "value": "<your_api_key>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -528
      ],
      "id": "9c784aa1-6243-4664-8868-df1c3bd2793f",
      "name": "Set"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Set').item.json.bot_token }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "=<b>Сізді Центр Красок #1 дүкенінің AI кеңесшісі қарсы алады!</b>\nМен қазақша, орысша және басқа да көптеген тілдерде сөйлей аламын!\nКез келген сұрақ қойыңыз, мен оған қуана жауап беремін :)\n\n<b>Вас приветствует AI консультант магазина Центр Красок #1!</b>\nЯ умею говорить на казахском, русском и многих других языках!\nЗадайте любой вопрос и я с радостью отвечу на него :)\n"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        -608
      ],
      "id": "f63d3709-800f-4a90-a682-3f27a07ee4d5",
      "name": "Send greetings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Set').item.json.bot_token }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $('Create request').item.json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2080,
        -432
      ],
      "id": "c00bab51-379b-4e16-a066-8cef4081ae2c",
      "name": "Send response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot<your_token_is_here>/setWebhook?url=https://n8n.growbeat.pro/webhook/ai-test-flow",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -336
      ],
      "id": "0a796298-7d9d-4fc7-a03b-1a68126f6fa5",
      "name": "Register webhook"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst tgId = String($('Webhook').item.json.body.message.chat.id);\nconst userText = $('Webhook').item.json.body.message.text;\nconst systemPrompt = $('Get a prompt').item.json.content;\n\n// Инициализируем историю для нового юзера\nif (!staticData[tgId]) {\n  staticData[tgId] = [];\n}\n\n// Добавляем новое сообщение юзера\nstaticData[tgId].push({\n  role: 'user',\n  content: userText\n});\n\n// Обрезаем до последних 20 сообщений (как reset_context в growbot)\nif (staticData[tgId].length > 10) {\n  staticData[tgId] = staticData[tgId].slice(-10);\n}\n\n// Собираем финальный массив: system + история\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...staticData[tgId]\n];\n\nreturn [{ json: { messages } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -432
      ],
      "id": "13f47106-5c69-46ce-a189-79be66832cd7",
      "name": "Get context"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst tgId = String($('Webhook').item.json.body.message.chat.id);\nconst assistantReply = $('Create request').item.json.choices[0].message.content;\n\n// Инициализируем если вдруг пусто\nif (!staticData[tgId]) {\n  staticData[tgId] = [];\n}\n\nstaticData[tgId].push({\n  role: 'assistant',\n  content: assistantReply\n});\n\nreturn [{ json: { reply: assistantReply } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -432
      ],
      "id": "9cfaccfb-ad03-4694-bb21-3c87d98d30bb",
      "name": "Save response"
    }
  ],
  "pinData": {},
  "connections": {
    "Set token": {
      "main": [
        [
          {
            "node": "Get a prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uuid": {
      "main": [
        [
          {
            "node": "Set token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create request": {
      "main": [
        [
          {
            "node": "Send response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt": {
      "main": [
        [
          {
            "node": "Get context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send greetings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get context": {
      "main": [
        [
          {
            "node": "Create request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save response": {
      "main": [
        []
      ]
    },
    "Send response": {
      "main": [
        [
          {
            "node": "Save response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a481354-26e9-42c4-95ab-814cc8e48951",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "924c532a26061cb926cceb9e81a4a5aa0fe38a04ded11ad198baab8d2a0b4759"
  },
  "id": "7D4otBYx3gDWOJvu",
  "tags": [
    {
      "updatedAt": "2026-05-28T18:16:46.727Z",
      "createdAt": "2026-05-28T18:16:46.727Z",
      "id": "WCkbB3v7RD4qdip6",
      "name": "Test flow"
    }
  ]
}
